<%- include('../layouts/head.ejs') %>

<body>
    <div class="wrapped">
        
        <div class="sidebar">
            <%- include('../layouts/sideBar.ejs') %>
        </div>
        <div class="main-panel ps ps--active-y">
            <div class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <%- include('../layouts/navBar.ejs') %>
            </div>
            
        <div class="content">
            <div class="main-panel">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-chart">
                                <h1>CRUD de Horarios</h1>

                                <!-- Formulario para Crear Horario -->
                                <form id="createForm" action="/api/web/horario" method="POST" onsubmit="return createHorario()">
                                    <label for="dia">Día:</label>
                                    <input type="date" name="dia" id="horarioDia" required>
                                    <label for="hora_inicio">Hora de Inicio:</label>
                                    <input type="time" name="hora_inicio" id="horarioInicio" required>
                                    <label for="hora_fin">Hora de Fin:</label>
                                    <input type="time" name="hora_fin" id="horarioFin" required>
                                    <!-- Agregar un campo para seleccionar el aula -->
                                    <label for="aula">Aula:</label>
                                    <select name="aula" id="horarioAula" required>
                                        <% aulas.forEach(aula => { %>
                                            <option value="<%= aula._id %>"><%= aula.name %></option>
                                        <% }); %>
                                    </select>
                                    <button type="submit">Crear Horario</button>
                                </form>
                            
                                <!-- Tabla de Horarios -->
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Día</th>
                                            <th>Hora de Inicio</th>
                                            <th>Hora de Fin</th>
                                            <th>Estado</th>
                                            <th>Aula</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% horarios.forEach(horario => { %>
                                            <tr>
                                                <!-- Detalles de Horario -->
                                                <<td>
                                                    <%= horario.dia ? horario.dia.toLocaleDateString() : 'N/A' %>
                                                </td>
                                                <td>
                                                    <%=
                                                    horario.hora_inicio.toLocaleTimeString('es-PE', {
                                                    hour: '2-digit', minute: '2-digit' }) %>
                                                  </td>
                                                  <td>
                                                    <%=
                                                    horario.hora_fin.toLocaleTimeString('es-PE', {
                                                    hour: '2-digit', minute: '2-digit' }) %>
                                                  </td>
                                                <!-- <td>
                                                    <%= horario.hora_inicio ? ('0' + horario.hora_inicio.getHours()).slice(-2) : 'N/A' %>:<%= horario.hora_inicio ? ('0' + horario.hora_inicio.getMinutes()).slice(-2) : 'N/A' %>
                                                </td>
                                                <td>
                                                    <%= horario.hora_fin ? ('0' + horario.hora_fin.getHours()).slice(-2) : 'N/A' %>:<%= horario.hora_fin ? ('0' + horario.hora_fin.getMinutes()).slice(-2) : 'N/A' %>
                                                </td> -->
                                                <td>
                                                    <%= horario.estado %>
                                                </td>                                               
                                                <td><%= horario.aula.name %></td>
                                                <!-- Enlace para Editar Horario -->
                                                <td><a href="#" onclick="showEditForm('<%= horario._id %>', '<%= horario.dia %>', '<%= horario.hora_inicio %>', '<%= horario.hora_fin %>', '<%= horario.aula._id %>'); event.preventDefault();">Editar</a></td>
                                                <!-- Botón para Eliminar Horario -->
                                                <td>
                                                    <button type="button" onclick="confirmDelete('<%= horario._id %>')">Eliminar</button>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            
                                <!-- Formulario para Editar Horario -->
                                <form id="editForm" style="display: none;" onsubmit="return editHorario()">
                                    <input type="hidden" id="editId" name="_id">
                                    <label for="editDia">Nuevo Día:</label>
                                    <input type="date" id="editDia" name="dia" required>
                                    <label for="editInicio">Nueva Hora de Inicio:</label>
                                    <input type="time" id="editInicio" name="hora_inicio" required>
                                    <label for="editFin">Nueva Hora de Fin:</label>
                                    <input type="time" id="editFin" name="hora_fin" required>
                                    <!-- Agregar un campo para seleccionar el aula -->
                                    <label for="editAula">Nueva Aula:</label>
                                    <select id="editAula" name="aula" required>
                                        <% aulas.forEach(aula => { %>
                                            <option value="<%= aula._id %>"><%= aula.name %></option>
                                        <% }); %>
                                    </select>
                                    <button type="submit">Guardar Cambios</button>
                                </form>
                            
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>    
    <script src="/js/web/horarios.js"></script>
    <%- include('../layouts/footer.ejs') %>
</body>

</html>
